.o-header {
  &__container {
    padding: get-inline-spacing(m) 0;
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--clone {
      padding: get-inset-spacing(s) get-inset-spacing(m);
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      background: get-color(gray, 900);
      box-shadow: 0 0 10px rgba(0,0,0,.4);
      transform: translateY(-100%);
      transition: all 300ms ease-in-out;

      .o-navigation__item,
      .o-navigation__item.is-active {
        color: get-color(unique, white);
      }

      &.is-sticky {
        transform: translateY(0%);
      }
    }
  }

  &__body {
    margin-top: get-stack-spacing(xl);
    padding-bottom: get-inset-spacing(xl) * 2;
    text-align: center;
  }
}

.a-push-top {
  transform: translateY(200px);
  transition: all .5s;
  transition-delay: .5s;

  &.is-active {
    transform: translateY(0);
  }
}

