.c-spotlightbox {
  padding: get-inset-spacing(l) 0;
  background: linear-gradient(180deg, #072f67 0%, rgba(4, 26, 57, 0) 100%), #041A39;
  color: get-color(unique, white);

  @include respond(large) {
    padding: get-inset-spacing(xl) 0;
  }

  a:not(.a-button) {
    color: get-color(unique, white);

    &:hover {
      color: get-color(blue, lighter);
    }
  }

  .icon {
    fill: #fff;
  }

  a .icon:hover {
    opacity: .6;
  }

  &__item {
    padding: get-inset-spacing(l);
    border-radius: $global-border-radius;
    background: rgba(get-color(gray, 800), .5);
  }
}