.o-list {
  margin: get-stack-spacing(m) 0 0;
  padding: 0;
  list-style: none;

  li {
    margin-top: get-stack-spacing(s);

    &:first-child {
      margin-top: 0;
    }
  }
}

.o-list-row {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: get-stack-spacing(l);
  margin-left: - get-inline-spacing(m);
  padding: 0;

  li {
    margin-left: get-inline-spacing(m);
  }
}