.o-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: - $gutter-width;

  &:first-child {
    margin-top: - get-stack-spacing(l);
  }

  &--centered {
    align-items: center;
  }
}

.o-row {
  margin-top: get-stack-spacing(l);
  padding: 0 get-inset-spacing(m);
}

.o-row-xl {
  margin-top: get-stack-spacing(xl);
  padding: 0 get-inset-spacing(m);
}

.o-vertical-alignment {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: - get-inline-spacing(m);

  &__item {
    margin-left: get-inline-spacing(m);

    &:first-child {
      margin-left: 0;
    }
  }
}

.o-distance {
  margin-top: get-stack-spacing(l);

  @include respond(large) {
    margin-top: get-stack-spacing(xl);
  }
}

.o-distance-small {
  margin-top: get-stack-spacing(m);
}

.o-justified--large {
  @include respond(large) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.o-constrained {
  margin-right: auto;
  margin-left: auto;
  max-width: $max-wrapper-width;
  padding: 0 get-inline-spacing(m);

  @include respond(large) {
    padding: 0 get-inline-spacing(xl) ;
  }
}

.o-constrained-medium {
  margin-right: auto;
  margin-left: auto;
  max-width: $max-wrapper-width-medium;
}

[class*="o-grid__column-"],
[class^="o-grid__column-"] {
  margin-top: get-stack-spacing(l);
  margin-left: $gutter-width;
}

// Name: Mobile-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .o-grid__column-#{$i}-#{$sum} {
      @include column($i, $sum);
    }
  }
}

// Name: Small-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .o-grid__column-small-#{$i}-#{$sum} {
      @include respond('small') {
        @include column($i, $sum);
      }
    }
  }
}

// Name: Medium-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .o-grid__column-medium-#{$i}-#{$sum} {
      @include respond('medium') {
        @include column($i, $sum);
      }
    }
  }
}

// Name: Large-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .o-grid__column-large-#{$i}-#{$sum} {
      @include respond('large') {
        @include column($i, $sum);
      }
    }
  }
}

// Name: Large-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .o-grid__column-xlarge-#{$i}-#{$sum} {
      @include respond('xLarge') {
        @include column($i, $sum);
      }
    }
  }
}

.o-grid__column-large-offset {
  @include respond(large) {
    text-align: right;
  }
}

.o-center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.o-iframe {
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}